.board-row {
  display: table;
}

.winner, .nextPlayer {
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 34px;
  height: 67px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 67px;
}

.square:focus {
  outline: none;
}

.square:hover {
  background: orange;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.round {
  margin: auto;
}

.game-info {
  margin-left: 20px;
}
